body {
  background-color: #E9EBEE;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.df-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.df-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container{
  background-color: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.2);
  width: 70%;
  padding: 40px;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.description{
  margin: 40px 20%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    width: 100%;
    padding: 0;
  }
  .title{
    margin: 10px;
  }
  .description{
  margin: 20px 10%;
}
}